<section data-ng-controller="CitiesController">
<h1>New City</h1>
<form data-ng-submit="create()" novalidate>
<div>
<label for="title">Title</label>
<div>
<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
</div>
</div>
<div>
<label for="desc">Desc</label>
<div>
<textarea data-ng-model="desc" id="desc" cols="30" rows="10" placeholder="Desc"></textarea>
</div>
</div>
<div>
<label for="country">Country</label>
<div>
<input type="text" data-ng-model="country" id="country" placeholder="Country" required>
</div>
</div>
<div>
<input type="submit">
</div>
<div data-ng-show="error">
<strong data-ng-bind="error"></strong>
</div>
</form>
<p>Back to <a href="/#!/cities">All Cities</a></p>
</section>
